@CHARSET "ISO-8859-1";

body{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	overflow: auto;
}

.breadCrumbLink{
	text-decoration: none;
	font-size: 12pt;
}

.rich-inplace-select-font{ 
	font-size : 10px; 
	font-family : arial; 
	color : #000000;
}