<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Projeto</display-name>
	
	<!-- Facelets -->
	<context-param>
		<param-name>facelets.LIBRARIES</param-name>
		<param-value>/WEB-INF/tags/validators.taglib.xml</param-value>
		<!--
		<param-value>/WEB-INF/tags/validators.taglib.xml; /WEB-INF/taglib/functions.taglib.xml</param-value> 
		 -->
	</context-param>
	
	<!-- JSF -->
	<listener>
		<listener-class>com.sun.faces.config.ConfigureListener</listener-class>
	</listener>
	
	<!-- Faces Servlet -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
	</context-param>
	
	<context-param>
  		<param-name>javax.faces.DEFAULT_SUFFIX</param-name>
  		<param-value>.xhtml</param-value>
 	</context-param>
	
	<!-- Spring -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	
	<context-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>/WEB-INF/daoAndAuthentication.xml</param-value>
	</context-param>
	
		 	
	<!-- Faces Servlet Mapping -->
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>

	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>

	<!-- RichFaces -->

	<!-- Plugging the "Blue Sky" skin into the project -->
	<context-param>
		<param-name>org.richfaces.SKIN</param-name>
		<param-value>darkX</param-value>
	</context-param>
	<!-- Making the RichFaces skin spread to standard HTML controls -->
	<context-param>
		<param-name>org.richfaces.CONTROL_SKINNING</param-name>
		<param-value>enable</param-value>
	</context-param>

	<!-- Defining and mapping the RichFaces filter -->
	<filter>
		<display-name>RichFaces Filter</display-name>
		<filter-name>richfaces</filter-name>
		<filter-class>org.ajax4jsf.Filter</filter-class>
		<init-param>    
             <param-name>createTempFiles</param-name>    
             <param-value>true</param-value>    
         </init-param>  
         <init-param>  
            <param-name>forceparser</param-name>  
            <param-value>false</param-value>  
        </init-param>  		
	</filter>
	
	<filter-mapping>
		<filter-name>richfaces</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	
	<!-- Acegi Securuty 
	<filter>
		<filter-name>Acegi Filter Chain Proxy</filter-name>
		<filter-class>org.acegisecurity.util.FilterToBeanProxy</filter-class>
		<init-param>
			<param-name>targetClass</param-name>
			<param-value>org.acegisecurity.util.FilterChainProxy</param-value>
		</init-param>
	</filter>
             
	<filter-mapping>
		<filter-name>Acegi Filter Chain Proxy</filter-name>
		<url-pattern>*.jsf</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	--> 
	
	<!-- Spring Security Securuty -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	
	<servlet>  
	    <servlet-name>Resource Servlet</servlet-name>  
	    <servlet-class>  
	        org.primefaces.resource.ResourceServlet  
	    </servlet-class>  
	</servlet>  
	  
	<servlet-mapping>  
	    <servlet-name>Resource Servlet</servlet-name>  
	    <url-pattern>/primefaces_resource/*</url-pattern>  
	</servlet-mapping> 
</web-app>