@CHARSET "ISO-8859-1";

body{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	overflow: auto;
}

.pageMessage{
	
	color: #696969;
	font: normal Arial;
	font-size: 11px;
	
}

.lastBreadCrumb{
	font-weight: bolder;
	font-size: 9pt;
}

.rich-inplace-select-font{ 
	font-size : 10px; 
	font-family : arial; 
	color : #000000;
}

.rich-table-footer {
	background-color: white;
}